<!DOCTYPE html>
<html>
<head>
<title>Page shop</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
		<div class="container">
			<div class="menu">
				<ul>
					<li>
						<a class="logo" href=""><img src="fileanh/logo.png"></a>						
						<a class="trangchu" href="">TRANG CHỦ</a>
						<a class="danhmuc" href="">DANH MỤC SẢN PHẨM</a>
						<a class="themtp"href="">THÊM TRANG PHỤC</a>
						<a class="login" href="">ĐĂNG NHẬP</a>
						<a class="anh" href=""><img src="fileanh/Icon/MMM.png"></a>
					</li>
				</ul>
				<div>
					<ul>
						<li>
							<a class="anh2" href=""><img src="fileanh/111.jpeg"></a>
							<a class="sumenh" href=""><h1> SỨ MỆNH</h1>
								<p class="h11">Khi phụ nữ ăn mặc tầm thường, người ta sẽ </p>
								<p class="h12">nhớ đến trang phục, khi phụ nữ ăn mặc lộng</p>
								<p class="h13">lẫy, người ta sẽ nhớ đến người phụ nữ</p>
							</a>
							<a class="phone"href=""><img src="fileanh/Icon/logo-dien-thoai-ban-1.jpg"></a>
							<a class="mes" href=""><img src="fileanh/Icon/gg.jpg"></a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="title">
						<h3>SẢN PHẨM</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-2th">
						<div class="card">
							<div class="image1">
								<img src="fileanh/12.jpg">
							</div>
							
							</style>
							<div class="name1">
								<p>ĐẦM DẠ HỘI LỆCH VAI ĐÍNH ĐÁ</p>
							</div>
							<div class="price1">
								<p>300.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image2">
								<img src="fileanh/GDX.jpg">
							</div>
							<div class="name">
								<p>ĐẦM CÔNG CHÚA MÀU XÁM</p>
							</div>
							<div class="price">
								<p>250.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image3">
								<img src="fileanh/8.jpg">
							</div>
							<div class="name">
								<p>ĐẦM DẠ HỘI MAXI</p>
							</div>
							<div class="price">
								<p>300.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image4">
								<img src="fileanh/58.jpg">
							</div>
							<div class="name">
								<p>ĐẦM DẠ HỘI TRỄ VAI, XẺ TÀ</p>
							</div>
							<div class="price">
								<p>250.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image5">
								<img src="fileanh/13.jpg">
							</div>
							<div class="name">
								<p>ĐẦM CÚP NGỰC TRẮNG ĐÍNH HOA</p>
							</div>
							<div class="price">
								<p>350.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image6">
								<img src="fileanh/7.jpg">
							</div>
							<div class="name">
								<p>ĐẦM DẠ HỘI CÚP NGỰC XẾP LI</p>
							</div>
							<div class="price">
								<p>200.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image7">
								<img src="fileanh/10.jpg">
							</div>
							<div class="name">
								<p>ĐẦM ĐUÔI CÁ TRỄ VAI</p>
							</div>
							<div class="price">
								<p>300.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image8">
								<img src="fileanh/14.jpg">
							</div>
							<div class="name">
								<p>ĐẦM DẠ HỘI TAY LỠ LỆCH VAI</p>
							</div>
							<div class="price">
								<p>250.000 VNĐ</p>
							</div>
						</div>
					</div>
								<div class="col-2th">
						<div class="card">
							<div class="image9">
								<img src="fileanh/14.jpg">
							</div>
							<div class="name">
								<p>ĐẦM DẠ HỘI CÚP NGỰC XANH ĐẬM</p>
							</div>
							<div class="price">
								<p>300.000 VNĐ</p>
							</div>
						</div>
					</div>
								
				</div>
			</div>
			</div>
			
		</div>
</body>
</html>
